<h1 class="our-story-header noselect" i18n>{{'OUR_STORY.OUR_STORY'| translate}}</h1>
<div style="padding-top:5%"></div>
<div class="timeline">
    <div *ngFor="let story of stories, let i = index">
        <div style="padding-top:5%"></div>
        <div *ngIf="i % 2 == 0">
            <div class="our-stories-row" >
                <div class="our-stories-side-block">
                    <div style="padding-top: 3%;"></div>
                    <img class="our-stories-photo-left" src={{story.photo}}>
                </div>
                <div class="our-stories-mid-block">
                    <!-- <span class="dot"></span> -->
                </div>
                <div class="our-stories-side-block">
                    <h2 class="our-stories-text-right title noselect" i18n>{{story.title| translate}}</h2>
                    <p class="our-stories-text-right noselect" i18n>{{story.body | translate}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="i % 2 == 1">
            <div class="our-stories-row" >
                <div class="our-stories-side-block">
                    <h2 class="our-stories-text-right title noselect" i18n>{{story.title| translate}}</h2>
                    <p class="our-stories-text-right noselect" i18n>{{story.body | translate}}</p>
                </div>
                <div class="our-stories-mid-block">
                    <!-- <span class="dot"></span> -->
                </div>
                <div class="our-stories-side-block">
                    <div style="padding-top: 3%;"></div>
                    <img class="our-stories-photo-left" src={{story.photo}}>
                </div>
            </div>

        </div>
    </div>
</div>