<img #flower class="doodle" src="./../../assets/Ke wedding doodles.png">
<h1 class="our-story-header noselect" i18n>{{'OUR_STORY.OUR_STORY'| translate}}</h1>
<div style="padding-top:10vh"></div>
<div class="timeline" *ngIf="!shouldChangeMenu()">
    <div *ngFor="let story of stories, let i = index">
        <div style="padding-top:5vh"></div>
        <div *ngIf="i % 2 == 0">
            <div class="our-stories-row story-row-{{i}}">
                <div class="our-stories-side-block left" [@leftEnter]="isInview('story-row-'+i)">
                    <div style="padding-top: 3vh;"></div>
                    <img class="our-stories-photo-left" src={{story.photo}}>
                </div>
                <div class="our-stories-mid-block">
                    <span class="dot"></span>
                </div>
                <div class="our-stories-side-block right" [@rightEnter]="isInview('story-row-'+i)">
                    <h2 class="our-stories-text-right our-story-title  noselect" i18n>{{story.title| translate}}</h2>
                    <p class="our-stories-text-right noselect our-stories-text" i18n>{{story.body | translate}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="i % 2 == 1">
            <div class="our-stories-row story-row-{{i}}">
                <div class="our-stories-side-block left" [@leftEnter]="isInview('story-row-'+i)">
                    <h2 class="our-stories-text-right our-story-title  noselect" i18n>{{story.title| translate}}</h2>
                    <p class="our-stories-text-right noselect our-stories-text" i18n>{{story.body | translate}}</p>
                </div>
                <div class="our-stories-mid-block">
                    <span class="dot"></span>
                </div>
                <div class="our-stories-side-block " [@rightEnter]="isInview('story-row-'+i)">
                    <div style="padding-top: 3vh;"></div>
                    <img class="our-stories-photo-left" src={{story.photo}}>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="timeline-mobile" *ngIf="shouldChangeMenu()">
<div *ngFor="let story of stories, let i = index">
    <div class="our-stories-row-mobile story-row-{{i}}">
        <div class="our-stories-side-block-mobile">
            <div style="padding-top: 3vh;"></div>
            <img class="our-stories-photo-mobile" src={{story.photo}}>
        </div>
        <div style="padding-top:2vh"></div>
        <div class="our-stories-timeline-dot-mobile">
            <div>
                <span class="dot-mobile"></span>
            </div>
            <div class="our-stories-side-block-mobile right" >
                <p class="our-stories-title-mobile our-story-title  noselect" i18n>{{story.title| translate}}</p>
                <p class="our-stories-text-mobile noselect our-stories-text" i18n>{{story.body | translate}}</p>
            </div>
        </div>
    </div>
    <div style="padding-top:15vh"></div>
</div>
</div>