.our-stories-row{
    display: flex;
    justify-content:center;
}

.our-stories-photo-left {
    max-width: 300px;
    min-height: auto;
    width: auto;
    height: auto
}

.our-stories-text-right {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: auto;
    height: auto;
    font-family: var(--font9)
}

.right {

}

.left {
    text-align: end;
}
.our-stories-side-block {
    width: 300px;
}

.our-stories-mid-block {
    width: 200px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color:var(--color1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  
  .dot {
    height: 25px;
    width: 25px;
    background-color: var(--color1);
    border-radius: 50%;
    display: inline-block;
    z-index: 100;
    margin:auto;
    position: absolute;
    right: 49%;
  }
  .title {
      color: var(--color1);
      font-family: var(--font1);
  }

  .our-story-header{
      text-align: center;
      font-family: var(--font1);
      padding-bottom: 3%;
      padding-top: 5%;
  }