<h1 class="our-story-header noselect" i18n>{{'OUR_STORY.OUR_STORY'| translate}}</h1>
<div style="padding-top:5%"></div>
<div class="timeline">
<div class="our-stories-row">
    <div class="our-stories-side-block">
        <div style="padding-top: 3%;"></div>
        <img class="our-stories-photo-left" src='assets/24891493_10214855012078917_1039411066_n.jpg'>
    </div>
    <div class="our-stories-mid-block">
        <!-- <span class="dot"></span> -->
    </div>
    <div class="our-stories-side-block">
        <h2 class="our-stories-text-right title noselect" i18n>{{'OUR_STORY.FIRST_TIME'| translate}}</h2>
        <p class="our-stories-text-right noselect" i18n>{{'OUR_STORY.FIRST_TIME_BODY'| translate}}</p>
    </div>
</div>
<div style="padding-top:5%"></div>
<div class="our-stories-row">
    <div class="our-stories-side-block">
        <h2 class="our-stories-text-right title left noselect" i18n>{{'OUR_STORY.HOW_WE_GOT_CLOSER'| translate}}</h2>
        <p class="our-stories-text-right noselect" i18n>{{'OUR_STORY.HOW_WE_GOT_CLOSER_BODY'| translate}}</p>
    </div>
    <div class="our-stories-mid-block">
        <!-- <span class="dot"></span> -->
    </div>
    <div class="our-stories-side-block">
        <div style="padding-top: 3%;"></div>
        <img class="our-stories-photo-left" src='assets/our-story-2.JPG'>
    </div>
</div>
<div style="padding-top:5%"></div>
<div class="our-stories-row">
    <div class="our-stories-side-block">
        <div style="padding-top: 3%;"></div>
        <img class="our-stories-photo-left" src='assets/our-story-3.jpeg'>
    </div>
    <div class="our-stories-mid-block">
        <!-- <span class="dot"></span> -->
    </div>
    <div class="our-stories-side-block">
        <h2 class="our-stories-text-right title noselect" i18n>{{'OUR_STORY.FELL_IN_LOVE'| translate}}</h2>
        <p class="our-stories-text-right noselect" i18n>{{'OUR_STORY.FELL_IN_LOVE_BODY'| translate}} </p>
    </div>
</div>
<div style="padding-top:5%"></div>
<div class="our-stories-row">
    <div class="our-stories-side-block">
        <h2 class="our-stories-text-right title left noselect" i18n>{{'OUR_STORY.FELL_IN_LOVE_AGAIN'| translate}}</h2>
        <p class="our-stories-text-right noselect" i18n>{{'OUR_STORY.FELL_IN_LOVE_AGAIN_BODY'| translate}}</p>
    </div>
    <div class="our-stories-mid-block">
        <!-- <span class="dot"></span> -->
    </div>
    <div class="our-stories-side-block">
        <div style="padding-top: 3%;"></div>
        <img class="our-stories-photo-left" src='assets/our-story-4.jpeg'>
    </div>
</div>
<div style="padding-top:5%"></div>
<div class="our-stories-row">
    <div class="our-stories-side-block">
        <div style="padding-top: 3%;"></div>
        <img class="our-stories-photo-left" src='assets/0N4A7612-Edit.jpg'>
    </div>
    <div class="our-stories-mid-block">
        <!-- <span class="dot"></span> -->
    </div>
    <div class="our-stories-side-block">
        <h2 class="our-stories-text-right title noselect" i18n>{{'OUR_STORY.PROPOSAL'| translate}}</h2>
        <p class="our-stories-text-right noselect" i18n>{{'OUR_STORY.PROPOSAL_BODY'| translate}}</p>
    </div>
</div>
<div style="padding-top:5%"></div>
<div class="our-stories-row">
    <div class="our-stories-side-block">
        <h2 class="our-stories-text-right title left noselect"i18n>{{'OUR_STORY.WEDDING'| translate}}</h2>
        <p class="our-stories-text-right noselect" i18n>{{'OUR_STORY.WEDDING_BODY'| translate}}</p>
    </div>
    <div class="our-stories-mid-block">
        <!-- <span class="dot"></span> -->
    </div>
    <div class="our-stories-side-block">
        <div style="padding-top: 3%;"></div>
        <img class="our-stories-photo-left" src='assets/PXL_20210725_213224394.jpg'>
    </div>
</div>
</div>