.our-stories-row{
    display: flex;
    justify-content:space-around;
}

.our-stories-photo-left {
    max-width: 35vw;
    min-height: auto;
    width: auto;
    height: auto;
    border-radius: 0.5em;
}

.our-stories-text-right {
    max-width: 35vw;
    width: auto;
    min-height: auto;
    height: auto;
    font-family: var(--font9)
}

.right {
    padding-left: 5vw;
}

.left {
    padding-right: 5vw;
    text-align: right;
}
.our-stories-side-block {
    width: 35vw;
}

.our-stories-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.our-stories-sub-title {
  color: #808080
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color:var(--color1);
    top: 0;
    bottom: 0;
    left: 50vw;
  }

  
  .dot {
    height: 25px;
    width: 25px;
    background-color: var(--color1);
    border-radius: 50%;
    display: inline-block;
    z-index: 100;
    margin:auto;
    position: absolute;
    left: calc(50vw - 13.5px);
  }
  .our-story-title {
      color: var(--color1);
      font-family: var(--font1);
      font-size: 2rem;
      line-height: 3rem;
  }

  .our-story-header{
      text-align: center;
      font-family: var(--font1);
      padding-bottom: 3%;
      padding-top: 5%;
  }

  .our-stories-row-mobile {
    display: block;
  }

  .our-stories-side-block-mobile {
    width: 80vw
  }

  .our-stories-photo-mobile {
    max-width: 65vw;
    min-height: auto;
    width: auto;
    height: auto;
    border-radius: 0.5em;
    margin-left: 25vw
  }

  .our-stories-text-mobile {
    max-width: 65vw;
    width: auto;
    min-height: auto;
    height: auto;
    font-family: var(--font9);
    margin-left: 20vw
  }

  .our-stories-title-mobile {
    max-width: 65vw;
    width: auto;
    min-height: auto;
    height: auto;
    font-family: var(--font1);
    margin-left: 20vw
  }

  .timeline-mobile {
    position: relative;
    max-width: 1200px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline-mobile::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color:var(--color1);
    top: 0;
    bottom: 0;
    left: 10vw;
  }

  .dot-mobile {
    height: 1rem;
    width: 1rem;
    background-color: var(--color1);
    border-radius: 50%;
    display: inline-block;
    z-index: 100;
    margin:auto;
    position: absolute;
    left: calc(10vw - 0.5rem + 1.5px);
  }

  .our-stories-timeline-dot-mobile {
      display: flex;
  }

.doodle {
    width: 30vw;
    left: 0;
    position: relative;
    z-index: 3;
    margin-top: -20vw;
}

@media only screen and (max-width: 500px) {
    .doodle {
        width: 80vw;
        left: 0;
        margin-top: -30vh;
    }
}