.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20%;
    letter-spacing: -1px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    margin: auto;
  }

  @media only screen and (max-width: 450px) {
    .timer {
      width: 90vw;
    }
    .countdown_block {
      width: 20vw !important;
      height: 20vw !important;
    }
    .time {
      height: 10vw !important;
      font-size: 10vw !important;
      padding-top: 4vw !important;
    }
    .text {
      font-size: 4vw !important;
      height: 6vw !important;
    }
  }

.timer div {
    font-family: var(--font2);
    color: var(--color4);
  }

  .countdown_block {
    width: 10vw;
    height: 10vw;
    opacity: 0.5;
    background-color:  #F5F5F5;
    display: block;
    border-radius: 0.5vw;
  }
  .time {
    height: 5vw;
    font-size: 5vw;
    padding-top: 2vw;
    text-align: center;
  }
  .text {
    font-size: 2vw;
    height: 3vw;
  }

  @media (prefers-color-scheme: dark) {
    .our-stories-text-mobile{
        color: white;
    }

    .our-story-header {
        color: white;
    }
}