<div class="timer">
    <button mat-raised-button class="countdown_block noselect" [disableRipple]=true>
        <span class="time"> {{delta_days}} </span>
        <span class="text" i18n> {{'SCHEDULE.DAYS' | translate}}</span>
    </button>
    <button mat-raised-button class="countdown_block noselect" [disableRipple]=true>
        <span class="time"> {{delta_hours}} </span>
        <span class="text" i18n> {{'SCHEDULE.HOURS' | translate}}</span>
    </button>
    <button mat-raised-button class="countdown_block noselect" [disableRipple]=true>
        <span class="time"> {{delta_mins}} </span>
        <span class="text" i18n> {{'SCHEDULE.MINS' | translate}}</span>
    </button>
    <button mat-raised-button class="countdown_block noselect" [disableRipple]=true>
        <span class="time"> {{delta_secs}} </span>
        <span class="text" i18n> {{'SCHEDULE.SECS' | translate}}</span>
    </button>
</div>