<div class="timer">
    <div class="countdown_block noselect" >
        <div class="time"> {{delta_days}} </div>
        <div class="text" i18n> {{'SCHEDULE.DAYS' | translate}}</div>
    </div>
    <div class="countdown_block noselect">
        <div class="time"> {{delta_hours}} </div>
        <div class="text" i18n> {{'SCHEDULE.HOURS' | translate}}</div>
    </div>
    <div class="countdown_block noselect" >
        <div class="time"> {{delta_mins}} </div>
        <div class="text" i18n> {{'SCHEDULE.MINS' | translate}}</div>
    </div>
    <div class="countdown_block noselect" >
            <div class="time"> {{delta_secs}} </div>
        <div class="text" i18n> {{'SCHEDULE.SECS' | translate}}</div>
    </div>
</div>