.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20%;
    letter-spacing: -1px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    width: 48vw;
    margin: auto;
  }

.timer div {
    font-family: var(--font2);
    color: var(--color1);
  }

  .countdown_block {
    width: 10vw;
    height: 10vw;
    opacity: 0.5;
    background-color:  #F5F5F5;
    display: block
  }
  .time {
    height: 5vw;
    font-size: 5vw;
    padding-top: 2vw;
    text-align: center;
  }
  .text {
    font-size: 2vw;
    height: 3vw;
  }
