<div class="timer">
    <div class="countdown_block">
        <span class="time"> {{delta_days}} </span>
        <span class="text"> DAYS</span>
    </div>
    <div class="countdown_block">
        <span class="time"> {{delta_hours}} </span>
        <span class="text"> HOURS</span>
    </div>
    <div class="countdown_block">
        <span class="time"> {{delta_mins}} </span>
        <span class="text"> MINUTES</span>
    </div>
    <div class="countdown_block">
        <span class="time"> {{delta_secs}} </span>
        <span class="text"> SECONDS</span>
    </div>
</div>