<h1 class="registry-header noselect" i18n>{{'REGISTRY.REGISTRY'| translate}}</h1>
<div class="registry-wrapper">
    <div class="registry-body rsvp-parallax">
        <div class="registry-content">
        <div class="registry-message" i18n> <span>{{'REGISTRY.REGISTRY_TEXT_1'| translate}}
        </span>
        </div>
        <div class="registry-message" i18n> <span>{{'REGISTRY.REGISTRY_TEXT_2'| translate}}</span>
        </div>
            <a href="https://www.amazon.com/wedding/ke-jin-jonathan-hayase-yorba-linda-july-2022/registry/2Z1ZH2KKTBBCD" id="style-2" data-replace="Amazon"><span>{{'REGISTRY.REGISTRY_BUTTON_TEXT'| translate}} </span></a>
    </div>
    </div>
</div>

