.rsvp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rsvp-row {
    display: flex;
    justify-content:space-evenly;  
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.rsvp-input {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.rsvp-textarea {
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.rsvp-rpw-item {
    display: block
}

.rsvp-button {
    background-color: var(--color1);
    font-family: var(--font-selected);
    color: beige;
    display: block
}

.rsvp-button:hover {
    background-color: var(--color2);
}

.rsvp-submit {
    margin-left: auto;
    margin-right: auto;
}

.rsvp-guest-will-attend {
    display: block
}

.rsvp-guest-will-not-attend {
    display: block
}
.highlight-button {
    background-color: var(--color2);
}