.rsvp {
    display: block;
    /* flex-direction: column;
    align-items: flex-start; */
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/floral.jpg');
    background-size: cover;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.rsvp-guest {
    display: block;
    flex-direction: column;
    align-items: flex-start;
}

.position-relative {
    position: relative;
}
.rsvp-text {
    color: black
}

.rsvp-row {
    display: flex;
    justify-content:space-evenly;  
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
}

.rsvp-guest-basic {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20%;
    gap: 2vh 2vw;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
}

.rsvp-guest-info {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    gap: 2vh 2vw;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
}

.rsvp-guest-basic-name {
    grid-column: 1 / 3;
    grid-row: 1
}

.rsvp-guest-basic-email {
    grid-column: 3 / 5;
    grid-row: 1;
}

.rsvp-guest-question {
    grid-column: 1 / 3;
}

.rsvp-guest-question-basic {
    grid-row: 2;
}
.rsvp-guest-question-yes {
    grid-column: 3;
}

.rsvp-guest-question-no {
    grid-column: 4;
}

.rsvp-guest-info-question1 {
    grid-row: 1;
}

.rsvp-guest-info-question2 {
    grid-row: 2;
}

.rsvp-guest-info-question3 {
    grid-row: 3;
}

.rsvp-guest-info-additional {
    grid-column: 1 / 5;
    grid-row: 4;
}

.rsvp-extra-guest-basic {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 25%;
    gap: 2vh 2vw;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
    display: relative;
}

.rsvp-remove-guest {
    position: absolute;
    right: 0;
    color: grey;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.rsvp-extra-guest-first-name {
    grid-column: 1;
    grid-row: 1;
}

.rsvp-extra-guest-last-name {
    grid-column: 2;
    grid-row: 1;
}

.rsvp-extra-guest-email {
    grid-column: 3 / 5;
    grid-row: 1;
}


.rsvp-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--color1);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.rsvp-center {
    margin: auto
}

mat-spinner {
    margin: auto
}
.rsvp-instruction {
    text-align: center;
    font-family: var(--font9);
}
.rsvp-name{
    text-align: center;
    font-family: var(--font9);
}
.rsvp-input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-focused .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: grey !important;
}

.rsvp-textarea {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.rsvp-row-item {
    display: block
}

.rsvp-button {
    background-color: var(--color1);
    font-family: var(--font-selected);
    color: beige;
    display: block
}

.rsvp-back {
    position: absolute;
    left: 10vw;
    width: 5vh;
    height: 5vh;
    top: 50vh;
    z-index: 10;
    color: grey;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

i {
    font-size: 2rem;
}

.rsvp-button:hover {
    background-color: var(--color2);
}

.rsvp-submit {
    max-height: 8vh;
}

.rsvp-guest-will-attend {
    display: block
}

.rsvp-guest-will-not-attend {
    display: block
}
.highlight-button {
    background-color: var(--color2);
}

.rsvp-header {
    text-align: center;
    font-family: var(--font1);
    position: relative;
    z-index: 3;

}

.rsvp-block {
    /* background-color: rgba(0,0,0,.5);
    color: #fff; */
    margin-right: auto;
    margin-left: auto;
    min-width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    width: 80vw;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    position: absolute;
    height: 60vh;
    top: 5vh;
    left: 0;
    right: 0;
    bottom: 5vh;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    overflow: scroll;
}   

.mat-flat-button, .mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background: var(--color1);
}

.rsvp-guest-initiated-block {
    position: absolute;
    overflow: scroll;
    top:10vh;
    left: 10vw;
    right: 10vw;
    bottom: 10vh;
    width: 80vw;
}

.fixed-bottom {
    position: absolute;
    bottom: 5vh;
}

.initial-rsvp {
    max-width: 50vw;
    height: 25vh;
    margin: auto
}

.rsvp-promp {
    font-family: var(--font9);
}