.rsvp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rsvp-row {
    display: flex;
    justify-content:space-evenly;  
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
}

.rsvp-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--color1);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.rsvp-center {
    margin: auto
}
mat-spinner {
    margin: auto
}
.rsvp-instruction {
    text-align: center;
    font-family: var(--font9);
}
.rsvp-name{
    text-align: center;
    font-family: var(--font9);
}
.rsvp-input {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.rsvp-textarea {
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.rsvp-row-item {
    display: block
}

.rsvp-button {
    background-color: var(--color1);
    font-family: var(--font-selected);
    color: beige;
    display: block
}

.rsvp-button:hover {
    background-color: var(--color2);
}

.rsvp-submit {
    max-height: 8vh;
}

.rsvp-guest-will-attend {
    display: block
}

.rsvp-guest-will-not-attend {
    display: block
}
.highlight-button {
    background-color: var(--color2);
}