<div class="rsvp">
    <h1 class="rsvp-header noselect" i18n>{{'RSVP.RSVP'| translate}}</h1>
    <div [hidden]="hideGoBackButton()">
        <button (click)="goBacktoPreviousState()" class="rsvp-back">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>

    <div [hidden]="hideGoForwardButton()">
        <button (click)="gotoNextState()" class="rsvp-forward">
            <i class="fa-solid fa-arrow-right"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="_isLoading"></i>
        </button>
    </div>

    <div class="position-relative">
        <div class="rsvp-block rsvp-initial-container" [@inandout]="determineAnimationState(rsvpState.RSVPInitial)">
                <button class="rsvp-submit initial-rsvp" mat-raised-button (click)="goto(rsvpState.RSVPinitiated)"
                (keydown.tab)="preventDefault($event)">
                    Click here to RSVP
                </button>
        </div>
        <div class="rsvp-block rsvp-initial-container" [@inandout]="determineAnimationState(rsvpState.guestsRSVPCompleted)">
            <div class="rsvp-row">
            <h1 class="rsvp-instruction">
                Your response has been recorded.
                <br>
                You can always edit your response before June 30.
            </h1>
            </div>
        </div>
        <div class="rsvp-block" [@inandout]="determineAnimationState(rsvpState.RSVPinitiated)">
            <div class="rsvp-row">
                <h1 class="rsvp-instruction"> Please enter your last name.
                    <br>
                    If you're responding for an entire group, please just enter the last name of one of your members.
                </h1>
            </div>
            <div class="rsvp-row">
                <mat-form-field class="rsvp-initiated-input" appearance="outline">
                    <input matInput required type="text" [formControl]="lastNameFormControl"
                        (keyup.enter)="saveLastNamePromptCode()" (keydown.tab)="preventDefault($event)" >
                </mat-form-field>
            </div>
        </div>

        <div class="rsvp-block" [@inandout]="determineAnimationState(rsvpState.RSVPenterCode)">
            <div class="rsvp-row">
                <h1 class="rsvp-instruction"> Please enter the RSVP code printed on the inside of your invitation
                    envolope, underneath the envelope flap. This helps us identify our guests. 
                    <br>
                    If you cannot find the code, please email jon.ke.hayase@gmail.com.
                </h1>
            </div>
            <div class="rsvp-row">
                <mat-form-field class="rsvp-initiated-input " appearance="outline">
                    <input matInput required type="text" [formControl]="invitationCodeFormControl"
                        (keyup.enter)="submitLastName()" (keydown.tab)="preventDefault($event)">
                </mat-form-field>
            </div>
        </div>

        <div class="rsvp-block" [@inandout]="determineAnimationState(rsvpState.lastNameNotVerified)">
            <div class="rsvp-row">
                <h1 class="rsvp-instruction">
                    Sorry, we are having trouble verifying you, please
                    try again below or contact us at jon.ke.hayase@gmail.com.</h1>
            </div>
            <div class="rsvp-row">
                <mat-form-field class="rsvp-initiated-input" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput required type="text" [formControl]="lastNameFormControl"
                        (keyup.enter)="focusCode()" (keydown.tab)="preventDefault($event)">
                </mat-form-field>
            </div>
            <div class="rsvp-row">
                <mat-form-field ngDefaultControl class="rsvp-initiated-input " appearance="outline">
                    <mat-label>RSVP code</mat-label>
                    <input id='rsvp-invitation-code' matInput required type="text" [formControl]="invitationCodeFormControl"
                        (keyup.enter)="submitLastName()" (keydown.tab)="preventDefault($event)">
                </mat-form-field>
            </div>
        </div>
        <div class="rsvp-block" [@inandout]="determineAnimationState(rsvpState.guestsRSVPinitiated)">
            <div *ngIf="_originalGuests != []">
                <div *ngFor="let guest of _originalGuests; let i=index">
                    <div class="rsvp-guest-basic">
                        <h1 class="rsvp-name rsvp-guest-basic-name">{{guest.firstName}} {{guest.lastName}}</h1>
                        <mat-form-field ngDefaultControl class="rsvp-input rsvp-name rsvp-guest-basic-email" appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput type="email" [formControl]="guest.email"
                                name="email" required>
                            <mat-error *ngIf="guest.email.invalid">{{getEmailErrorMessage()}}
                            </mat-error>
                        </mat-form-field>

                        <br>
                        <br>

                        <div class="rsvp-promp rsvp-guest-question rsvp-guest-question-basic"> Will you attend the
                            wedding?
                        </div>
                        <button ngDefaultControl
                            class="rsvp-guest-will-attend rsvp-button rsvp-guest-question-yes rsvp-guest-answer-basic"
                            [class.highlight-button]="isGuestAttending(guest)" mat-raised-button
                            (click)="guestWillAttendHandler(guest)">Yes</button>
                        <button
                            class="rsvp-guest-will-not-attend rsvp-button rsvp-guest-question-no rsvp-guest-answer-basic"
                            [class.highlight-button]="isGuestNotAttending(guest)" mat-raised-button
                            (click)="guestWillNotAttendHandler(guest)">No</button>
                    </div>
                    <div *ngIf="isGuestAttending(guest)" class="rsvp-guest rsvp-guest-info">

                        <div class="rsvp-promp rsvp-guest-info-question1 rsvp-guest-question"> Do we need to prepare a
                            kids meal for you?</div>
                        <button type="boolean" ngDefaultControl
                            class="rsvp-button rsvp-guest-question-yes rsvp-guest-info-answer1"
                            mat-raised-button (click)="guestKidsMealToggle(guest, true)"
                            [class.highlight-button]="guest.kidsMeal">Yes</button>
                        <button type="boolean" ngDefaultControl
                            class="rsvp-button rsvp-guest-question-no rsvp-guest-info-answer1"
                            mat-raised-button (click)="guestKidsMealToggle(guest, false)"
                            [class.highlight-button]="!guest.kidsMeal">No</button>
                        <div class="rsvp-promp rsvp-guest-question rsvp-guest-info-question2"> Do we need to prepare a
                            vegetarian meal for you?</div>

                        <br>

                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer2 rsvp-guest-question-yes"
                            mat-raised-button (click)="guestVeganToggle(guest, true)"
                            [class.highlight-button]="guest.vegan">Yes</button>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer2 rsvp-guest-question-no"
                            mat-raised-button (click)="guestVeganToggle(guest, false)"
                            [class.highlight-button]="!guest.vegan">No</button>

                        <br>

                        <div class="rsvp-promp rsvp-guest-info-question3 rsvp-guest-question"> Do we need to prepare a
                            gluten-free meal for you?</div>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-question-yes rsvp-guest-info-answer3"
                            mat-raised-button (click)="guestGlutonFreeToggle(guest, true)"
                            [class.highlight-button]="guest.glutonFree">Yes</button>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-question-no rsvp-guest-info-answer3"
                            mat-raised-button (click)="guestGlutonFreeToggle(guest, false)"
                            [class.highlight-button]="!guest.glutonFree">No</button>

                        <br>

                        <div class="rsvp-guest-info-additional">
                            <mat-form-field ngDefaultControl class="rsvp-textarea rsvp-name" appearance="outline">
                                <mat-label>Additional Requests</mat-label>
                                <textarea matInput type="text" [formControl]="guest.message"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>
            </div>
            <div *ngIf="_extraGuests != []">
                <div *ngFor="let guest of _extraGuests; let i=index">
                    <div class="rsvp-extra-guest-basic">
                        <mat-form-field class="rsvp-input rsvp-name rsvp-extra-guest-first-name" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input ngDefaultControl matInput [formControl]="guest.firstName"
                                name="first_name" required>
                            <mat-error *ngIf="guest.firstName.invalid">{{getEmptyErrorMessage()}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="rsvp-input rsvp-name rsvp-extra-guest-last-name" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input ngDefaultControl matInput [formControl]="guest.lastName"
                                name="last_name" required>
                            <mat-error *ngIf="guest.lastName.invalid">{{getEmptyErrorMessage()}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field ngDefaultControl class="rsvp-input rsvp-name rsvp-extra-guest-email" appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput type="email" [formControl]="guest.email"
                                name="email" required>
                            <mat-error *ngIf="guest.email.invalid">{{getEmailErrorMessage()}}
                            </mat-error>
                        </mat-form-field>

                        <button class="rsvp-submit" class="rsvp-remove-guest" (click)="removeGuest(i)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="rsvp-guest rsvp-guest-info">

                        <br>
                        <br>

                        <div class="rsvp-promp rsvp-guest-info-question1 rsvp-guest-question"> Do we need to prepare a
                            kids
                            meal for you?</div>
                        <button type="boolean" ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer1 rsvp-guest-question-yes"
                            mat-raised-button (click)="guestKidsMealToggle(guest, true)"
                            [class.highlight-button]="guest.kidsMeal">Yes</button>
                        <button type="boolean" ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer1 rsvp-guest-question-no"
                            mat-raised-button (click)="guestKidsMealToggle(guest, false)"
                            [class.highlight-button]="!guest.kidsMeal">No</button>

                        <br>

                        <div class="rsvp-promp rsvp-guest-info-question2 rsvp-guest-question"> Do we need to prepare a
                            vegetarian meal for you?</div>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer2 rsvp-guest-question-yes"
                            mat-raised-button (click)="guestVeganToggle(guest, true)"
                            [class.highlight-button]="guest.vegan">Yes</button>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer2 rsvp-guest-question-no"
                            mat-raised-button (click)="guestVeganToggle(guest, false)"
                            [class.highlight-button]="!guest.vegan">No</button>

                        <br>

                        <div class="rsvp-promp rsvp-guest-info-question3 rsvp-guest-question"> Do we need to prepare a
                            gluten-free meal for you?</div>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer3 rsvp-guest-question-yes"
                            mat-raised-button (click)="guestGlutonFreeToggle(guest, true )"
                            [class.highlight-button]="guest.glutonFree">Yes</button>
                        <button ngDefaultControl
                            class="rsvp-button rsvp-guest-info-answer3 rsvp-guest-question-no"
                            mat-raised-button (click)="guestGlutonFreeToggle(guest, false)"
                            [class.highlight-button]="!guest.glutonFree">No</button>

                        <br>

                        <mat-form-field ngDefaultControl class="rsvp-textarea rsvp-name rsvp-guest-info-additional"
                            appearance="outline">
                            <mat-label>Additional Requests</mat-label>
                            <textarea matInput type="text"
                                [formControl]="guest.message"></textarea>
                        </mat-form-field>
                    </div>
                    <br>
                    <hr>
                    <br>
                </div>
            </div>
            <div *ngIf="allowExtraGuest">
                <button class="rsvp-submit" class="rsvp-center" mat-raised-button
                    (click)="addGuest()">Add Extra Guest</button>
            </div>

        </div>
    </div>

    <img class="rsvp-corner-floral" src="./../../assets/25.png">
</div>