    <div class="rehearsal-dinner-img" >
    <div class="rehearsal-dinner-text-box">
<div class="rehearsal-dinner-small-text">Please join us for a </div>
<div class="rehearsal-dinner-medium-text">Rehearsal Dinner </div>
<div class="rehearsal-dinner-small-text">honoring</div>
<div class="rehearsal-dinner-big-text">Jon & Ke</div>
<div class="rehearsal-dinner-small-text-bottom">July 28, 2022</div>
<div class="rehearsal-dinner-small-text-bottom">5:30 PM</div>
<div class='rehearsal-dinner-small-text-bottom' >
    <a href="https://goo.gl/maps/W2U6w2QkRrY1dJtv8" class='rehearsal-dinner-small-text' id="style-2" data-replace="Google Map"><span>Picnic Shelter No.4</span></a>
</div>
<div class="rehearsal-dinner-small-text-bottom">Yorba Linda Regional Park, Yorba Linda</div>
<div class="rehearsal-dinner-small-text-bottom">(3$ park entrance fee)</div>
    </div>
</div>
