<div class="nav-bar">
<button mat-flat-button class="tab" (click)="scrollToElement(home, '/home')">{{'APP.HOME' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(schedule, '/schedule')">{{'APP.SCHEDULE' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(us, '/us')">{{'APP.ABOUT_US' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(travel, '/travel')">{{'APP.TRAVEL' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(rsvp, '/rsvp')">{{'APP.RSVP' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(registry, '/registry')">{{'APP.REGISTRY' | translate}}</button>
  <label class="switch">
    <input type="checkbox" (change)="onLanguageToggled()">
    <span class="slider tab-slider">  文 EN</span>
  </label>
</div>

<div #home>
    <app-home></app-home>
</div>
<div #schedule>
    <app-schedule ></app-schedule>
</div>
<div #us>
    <app-about-us></app-about-us>
</div>
<div #travel>
    <app-travel></app-travel>
</div>
<div #rsvp>
    <app-rsvp></app-rsvp>
</div>
<div #registry>
    <app-registry></app-registry>
</div>