<select #langSelect class="language-selector" (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
<h3 i18n class="header-sub"> {{ 'APP.SUB_TITLE' | translate }}</h3>
<h1 i18n class="header-main" >{{'APP.TITLE' | translate}}</h1>

<div class="nav-bar">
<button mat-flat-button class="tab" (click)="scrollToElement(home, '/home')">{{'APP.HOME' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(schedule, '/schedule')">{{'APP.SCHEDULE' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(travel, '/travel')">{{'APP.TRAVEL' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(weddingParty, '/wedding-party')">{{'APP.WEDDING_PARTY' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(rsvp, '/rsvp')">{{'APP.RSVP' | translate}}</button>
<button mat-flat-button class="tab" (click)="scrollToElement(registry, '/registry')">{{'APP.REGISTRY' | translate}}</button>
</div>

<!-- <router-outlet></router-outlet> -->
<div #home>
    <app-home></app-home>
</div>
<div #aboutUs>
    <app-about-us></app-about-us>
</div>
<div #schedule>
    <app-schedule ></app-schedule>
</div>
<div #travel>
    <app-travel></app-travel>
</div>
<div #registry>
    <app-registry></app-registry>
</div>
<div #weddingParty>
    <app-wedding-party></app-wedding-party>
</div>
<div #photos>
    <app-photos></app-photos>
</div>
<div #thingsToDo>
    <app-things-to-do></app-things-to-do>
</div>
<div #faqs>
    <app-faqs></app-faqs>
</div>
<div #rsvp>
    <app-rsvp></app-rsvp>
</div>

<button mat-raised-button class="floating-rsvp" i18n (click)="scrollToElement(rsvp, '/rsvp')">{{'APP.RSVP' | translate}}</button>