.text-info {
 background-color: #fffff0;
 position: relative;
 margin-top: -50vh;
 z-index: 2;
}

.place {
    font-size: 1.5rem;
    font-family: 'Special Elite', 'senty tang';
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    line-height: 2rem;
}
.date {
    font-size: 2rem;
    font-family: 'Special Elite', 'senty tang';
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20vh;
    line-height: 4rem;
}

.time {
    font-size: 2rem;
    font-family: 'Special Elite', 'senty tang';
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
}
  
.schedule-botton-padding {
    padding-bottom: 30vh;
}

@media only screen and (max-width: 500px) {

    .text-info {
        margin-top: -100vh;
        min-height: 100vh;
    }

    .date {
        padding-top: 18vh;
    }
}