<div class="text-info">
    <h1 class='date' i18n>{{'SCHEDULE.DATE' | translate}}</h1>
    <h1 class='time' i18n>{{'SCHEDULE.TIME' | translate}}</h1>
    <h1 class='place' i18n>{{'SCHEDULE.VENUE' | translate}}</h1>
    <h1 class='place' i18n>{{'SCHEDULE.ADDRESS' | translate}}</h1>
    <h1 class='place' i18n>{{'SCHEDULE.CITY' | translate}}</h1>
    <h1 class='place' i18n>{{'SCHEDULE.STATE' | translate}}</h1>
    <h1 class='place' i18n>{{'SCHEDULE.ZIP' | translate}}</h1>
    <count-down [theDate]="date"></count-down>
    <div class='schedule-botton-padding'></div>
</div>