.text-info {
 background-color: #fffff0;
 position: relative;
 height: 100vh;
}

.place {
    font-size: 1.5rem;
    font-family: 'Special Elite', 'Klee One';
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    line-height: 2rem;
}
.date {
    font-size: 3rem;
    font-family: 'Special Elite', 'Klee One';
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20vh;
    line-height: 4rem;
}

.doodle {
    width: 20vw;
    left: 40vw;
    padding: 15vw;
}

@media only screen and (max-width: 450px) {
    .doodle {
        width: 50vw;
        left: 25vw;
        padding: 30vw;
    }
}