<h1 class="travel-header noselect" i18n>{{'TRAVEL.TRAVEL'| translate}}</h1>

<div>

    <ul class="travel-wrapper">
        <li class="travel-block-1 travel-block">
            <div class="travel-sub-title" i18n>
                {{ 'TRAVEL.VENUE' | translate }}
            </div>
            <div class="line"></div>
            <div class="travel-title">
                {{ 'SCHEDULE.VENUE' | translate }}
            </div>
            <div class="travel-info" i18n>
                {{ 'TRAVEL.VENUE_INFO' | translate }}
                <a href="https://goo.gl/maps/fa55He8bAMuX16Yo7">18001 Yorba Linda Blvd, Yorba Linda, CA 92886</a>
            </div>
        </li>
        <li class="travel-block-2 travel-block">
            <div class="travel-sub-title" i18n>
                {{ 'TRAVEL.AIRPORT' | translate }}
            </div>
            <div class="line"></div>
            <div class="travel-title" i18n>
                {{ 'TRAVEL.SNA' | translate }}
            </div>
            <div class="travel-info" i18n>
                {{ 'TRAVEL.AIRPORT_INFO' | translate }}
            </div>
            <br>
            <div class="travel-more-info">
                <div i18n>{{ 'TRAVEL.AIRPORT_MORE_INFO' | translate }}</div>
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-plane-arrival"></i></span>
                        <div i18n>{{ 'TRAVEL.ONT' | translate }} </div>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-plane-arrival"></i></span>
                        <div i18n>{{ 'TRAVEL.LGB' | translate }}</div>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-plane-arrival"></i></span>
                        <div i18n>{{ 'TRAVEL.LAX' | translate }}</div>

                    </li>
                </ul>
            </div>
        </li>
        <li class="travel-block-3 travel-block">
            <div class="travel-sub-title" i18n>
                {{ 'TRAVEL.HOTEL' | translate }}
            </div>
            <div class="line"></div>
            <div class="travel-title" i18n>
                {{ 'TRAVEL.HOTEL_TITLE' | translate }}

            </div>
            <div class="travel-info">
                <a href="https://secure3.hilton.com/en_US/es/reservation/book.htm?ctyhocn=LAXBRES&corporateCode=0002790173&from=lnrlink"
                    i18n>
                    {{ 'TRAVEL.HOTEL_TITLE' | translate }}
                </a>
                <div i18n>{{ 'TRAVEL.HOTEL_INFO' | translate }}</div>

            </div>
            <br>
            <div class="travel-more-info">
                <div i18n>{{ 'TRAVEL.HOTEL_MORE_INFO' | translate }}</div>
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-square-h"></i></span>
                        <a
                            href="https://www.marriott.com/en-us/hotels/laxfl-fullerton-marriott-at-california-state-university/overview/" i18n>
                            {{ 'TRAVEL.MARRIOTT' | translate }}
                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-square-h"></i></span>
                        <a
                            href="https://www.marriott.com/en-us/hotels/laxam-fairfield-inn-anaheim-hills-orange-county/overview/" i18n>
                            {{ 'TRAVEL.FAIRFIELD' | translate }}
                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-square-h"></i></span>
                        <a href="https://www.ayreshotels.com/ayres-suites-yorba-linda" i18n>
                            {{ 'TRAVEL.AYRES' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="travel-block-4 travel-block">
            <div class="travel-sub-title" i18n>
                {{ 'TRAVEL.PLACES' | translate }}
            </div>
            <div class="line"></div>
            <div class="travel-title" i18n>
                {{ 'TRAVEL.PLACES_TITLE' | translate }}

            </div>
            <div class="travel-info" i18n>
                {{ 'TRAVEL.PLACES_INFO' | translate }}

            </div>
            <div class="travel-more-info">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-umbrella-beach"></i></span>
                        <a href="www.lagunabeachcity.net" i18n>
                            {{ 'TRAVEL.LAGUNA' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-umbrella-beach"></i></span>
                        <a href="www.surfcity-hb.org" i18n>
                            {{ 'TRAVEL.HUNTINGTON' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-otter"></i></span>
                        <a href="www.aquariumofpacific.org" i18n>
                            {{ 'TRAVEL.AQUAR_PACIF' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-music"></i></span>
                        <a href="www.pacificsymphony.org" i18n>
                            {{ 'TRAVEL.PACIF_SYMPH' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                        <a href="www.getty.edu" i18n>
                            {{ 'TRAVEL.GETTY' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                        <a href="www.thebroad.org" i18n>
                            {{ 'TRAVEL.BROAD' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                        <a href="https://www.huntington.org/" i18n>
                            {{ 'TRAVEL.HUNTINGTON_LIB' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-cross"></i></span>
                        <a href="https://www.missionsjc.com/" i18n>
                            {{ 'TRAVEL.MISSION' | translate }}

                        </a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                        <a href="https://griffithobservatory.org" i18n>
                            {{ 'TRAVEL.GRIFFITH' | translate }}

                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="travel-block-5 travel-block">
            <div class="travel-sub-title" i18n>
                {{ 'TRAVEL.FOOD' | translate }}
            </div>
            <div class="line"></div>
            <div class="travel-title" i18n>
                {{ 'TRAVEL.FOOD_TITLE' | translate }}

            </div>
            <div class="travel-info" i18n>
                {{ 'TRAVEL.FOOD_INFO' | translate }}
            </div>
            <div class="travel-more-info">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.hanumanthaieatery.com">Hanuman Thai Eatery</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.sushinoguchi.com">Sushi Noguchi</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.hifamilyclaremont.com">Hi Family</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.chanchanfoodhouse.com">Chan Chan</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.yelp.com/biz/huntington-ramen-and-sushi-fullerton-7">Huntington Ramen &
                            Sushi</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.habitburger.com/locations/yorba-linda/">The Habit Burger Grill</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                        <a href="https://www.yelp.com/biz/poke-dot-irvine">Poke Dot</a>
                    </li>
                </ul>

            </div>
        </li>
        <li class="travel-block-6">
            <img class="travel-background-1" src="../../assets/3.jpg">
        </li>
        <li class="travel-block-7">
            <img class="travel-background-2" src="../../assets/1_1.jpg">
        </li>
        <li class="travel-block-8">
            <img class="travel-background-3" src="../../assets/24.jpg">
        </li>
    </ul>
</div>