.travel-header{
    text-align: center;
    font-family: var(--font1);
    padding-bottom: 3%;
    padding-top: 5%;
}

.travel-row{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin: auto;
    text-align: center;
    position: relative;
}
.travel-wrapper {
    /* position: relative;
    display: block;
    height:200vh; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 2vh 2vw;
}

.travel-block {
    /* width: 20vw; */
    /* max-height: 80vh;
    overflow: scroll; */
    /* display: grid;
    grid-template-columns: 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20%; */
}

.travel-block-1 {
    /* position: absolute;
    top: 0;
    left: 15vw; */
    grid-column: 2;
    grid-row: 1
}

.travel-block-2 {
    /* position: absolute;
    top: 30vh;
    left: 40vw; */
    grid-column: 3;
    grid-row: 2
}

.travel-block-3 {
    /* position: absolute;
    top: 60vh;
    left: 65vw; */
    grid-column: 4;
    grid-row: 3
}

.travel-block-4 {
    /* position: absolute;
    top: 120vh;
    left: 40vw; */
    grid-column: 3;
    grid-row: 4

}

.travel-block-5 {
    /* position: absolute;
    top: 150vh;
    left: 15vw; */
    grid-column: 2;
    grid-row: 5

}

.travel-background-1 {
    max-width: 100vw;
    margin-left: -40vw;
    margin-top: -50vh;
}

.travel-block-6 {
    max-width: 50vw;
    grid-column: 1;
    grid-row: 3;
}
.travel-title {
    color: var(--color1);
    font-family: var(--font1);
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1vh;
}
.travel-sub-title {
    color: #808080;
    font-family: var(--font1);
}

.travel-info {
    width: 20vw;
    max-width: 20vw;
    width: auto;
    min-height: auto;
    height: auto;
    font-family: var(--font9);
    line-height: 1.5rem;
}

ul {
    list-style: none;
}
.travel-more-info {
    /* width: 20vw;
    max-width: 20vw;
    width: auto;
    min-height: auto;
    height: auto;
    font-family: var(--font9);
    line-height: 1.5rem; */
    margin-top: 1vh;
    width: 20vw;
    max-width: 20vw;
    width: auto;
    min-height: auto;
    height: auto;
    color: #808080;
    font-family: var(--font9);
    font-size: 0.8rem;
}

i {
    color: #808080;
}
.line {
    margin: 1vw 0 0;
    width: 1.66667vw;
    height: 0.22222vw;
    background: #808080;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transform: scaleX(1);
}

a {
    box-shadow: inset 0 0 0 0 #808080;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: box-shadow .3s ease-in-out;
    color: #808080;
  }
  a:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 #808080;
  }

  @media only screen and (max-width: 500px) {
    .travel-block-1 {
        position: relative;
        display: block;
        top: auto;
        left: auto;
    }
    .travel-block-2 {
        position: relative;
        display: block;
        top: auto;
        left: auto;
    }
    .travel-block-3 {
        position: relative;
        display: block;
        top: auto;
        left: auto;
    }
    .travel-block-4 {
        position: relative;
        display: block;
        top: auto;
        left: auto;
    }
    .travel-block-5 {
        position: relative;
        display: block;
        top: auto;
        left: auto;
    }

    .travel-block {
        margin-top: 10vh;
        width: 60vw;
        max-height: none;
        overflow: scroll;
    }

    .travel-info {
        width: 60vw;
        max-width: 60vw;
        width: auto;
        min-height: auto;
        height: auto;
        font-family: var(--font9);
        line-height: 1.5rem;
    }

    .travel-more-info {
        margin-top: 1vh;
        width: 60vw;
        max-width: 60vw;
        width: auto;
        min-height: auto;
        height: auto;
        color: #808080;
        font-family: var(--font9);
        font-size: 0.8rem;
    }

    .travel-wrapper {
        position: relative;
        display: block;
        height:auto;
    }

    .travel-background-1 {
        display: none;
    }
}