<h1 class="travel-header noselect" i18n>{{'TRAVEL.TRAVEL'| translate}}</h1>

<div class="travel-wrapper">

<ul>
    <li class="travel-block-1 travel-block">
        <div class="travel-sub-title">
            The Venue
        </div>
        <div class="line"></div>
        <div class="travel-title">
            The Richard Nixon Library & Museum
        </div>
        <div class="travel-info">
            Formal attire, ceremony, dinner and dance.
            <a href="https://goo.gl/maps/fa55He8bAMuX16Yo7">18001 Yorba Linda Blvd, Yorba Linda, CA 92886</a>
        </div>
    </li>
    <li class="travel-block-2 travel-block">
        <div class="travel-sub-title">
            The Airport
        </div>
        <div class="line"></div>
        <div class="travel-title">
            John Wayne Airport (SNA)
        </div>
        <div class="travel-info">
            Southern California has many airports but John Wayne - Orange County Airport (SNA) is the easiest for
            domestic flights and is about 20 miles from The Richard Nixon Library.
        </div>
        <br>
        <div class="travel-more-info">
            Here are some additional airports in the area:
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><i class="fa-solid fa-plane-arrival"></i></span>
                    Ontario International Airport/ONT: 30 miles North from the Venue.
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-plane-arrival"></i></span>
                    Long Beach Airport/LGB: 30 miles West from the Venue.
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-plane-arrival"></i></span>
                    Los Angeles International Airport/LAX: 45 miles West from the Venue (traffic might not be the best)
                </li>
            </ul>
        </div>
    </li>
    <li class="travel-block-3 travel-block">
        <div class="travel-sub-title">
            The Hotel
        </div>
        <div class="line"></div>
        <div class="travel-title">
            Embassy Suites by Hilton Brea North Orange County
        </div>
        <div class="travel-info">
            <a href="https://secure3.hilton.com/en_US/es/reservation/book.htm?ctyhocn=LAXBRES&corporateCode=0002790173&from=lnrlink">The Embassy
                Suites Hotel in Brea</a> is about 5 miles from The Richard Nixon Library. The Link
            offers guests a discount off the best available flexible rate. The rate will fluctuate based upon pricing of
            the hotel at the given time.
        </div>
        <br>
        <div class="travel-more-info">
            Here are some additional hotels in the area:
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><i class="fa-solid fa-square-h"></i></span>
                    <a
                        href="https://www.marriott.com/en-us/hotels/laxfl-fullerton-marriott-at-california-state-university/overview/">Fullerton
                        Marriott at California State University</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-square-h"></i></span>
                    <a
                        href="https://www.marriott.com/en-us/hotels/laxam-fairfield-inn-anaheim-hills-orange-county/overview/">Fairfield
                        Inn by Marriott Anaheim Hills Orange County</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-square-h"></i></span>
                    <a href="https://anaheiminn.com/">Best Western Plus Anaheim Inn</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="travel-block-4 travel-block">
        <div class="travel-sub-title">
            Places
        </div>
        <div class="line"></div>
        <div class="travel-title">
            Art and Beaches
        </div>
        <div class="travel-info">
            Southern California is home to many tourist attractions such as museums, beaches, and mountains.
        </div>
        <div class="travel-more-info">
            <ul class="fa-ul">
                <li >
                    <span class="fa-li"><i class="fa-solid fa-umbrella-beach"></i></span>
                    <a href="www.lagunabeachcity.net">Laguna Beach</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-umbrella-beach"></i></span>
                    <a href="www.surfcity-hb.org">Huntington Beach</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-otter"></i></span>
                    <a href="www.aquariumofpacific.org">Aquarium of the Pacific</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-music"></i></span>
                    <a href="www.pacificsymphony.org">Pacific Symphony</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                    <a href="www.getty.edu">The Getty</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                    <a href="www.thebroad.org">The Broad</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                    <a href="https://www.huntington.org/">The Huntington Library</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-cross"></i></span>
                    <a href="https://www.missionsjc.com/">Mission San Juan Capistrano</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid  fa-building-columns"></i></span>
                    <a href="https://griffithobservatory.org">Griffith Observatory</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="travel-block-5 travel-block">
        <div class="travel-sub-title">
            Food
        </div>
        <div class="line"></div>
        <div class="travel-title">
            Jon and Ke's favorite places
        </div>
        <div class="travel-info">
            If you are hungry and are in need of recommendations...
        </div>
        <div class="travel-more-info">
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                    <a href="https://www.hanumanthaieatery.com">Hanuman Thai Eatery</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                    <a href="https://www.sushinoguchi.com">Sushi Noguchi</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                    <a href="https://www.hifamilyclaremont.com">Hi Family</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                    <a href="https://www.chanchanfoodhouse.com">Chan Chan</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-utensils"></i></span>
                    <a href="https://www.yelp.com/biz/huntington-ramen-and-sushi-fullerton-7">Huntington Ramen &
                        Sushi</a>
                </li>
            </ul>

        </div>
    </li>
</ul>
<img class="travel-background-1" src="../../assets/3.png">
</div>