<div>
<div class="parallax"> </div>
<div class="header" id="header">
    <div class="header-name left" [@leftEnter]="isInview('left')">Jon</div>
    <div class="header-name center" [@pound]="isInview('left')">❤</div>
    <div class="header-name right" [@rightEnter]="isInview('right')">Ke</div>
</div>
<!-- <div class="text-info">
    <h1 class="name-jon" i18n>{{'HOME.JONATHAN_HAYASE' | translate}} </h1>

    <img class='and' src = './../../assets/and.png'>
    
    <h1 class="name-ke" i18n>{{'HOME.KE_JIN' | translate}}</h1>
    
    <img #flower class="background" src="./../../assets/Ke wedding doodles.png">
    <img class='in' src = './../../assets/in.png'>
    
    <h1 class='place' i18n>{{'HOME.YORBA_LINDA' | translate}}</h1>
    <h1 class='place' i18n> {{'HOME.CA' | translate}} </h1>
    
    <img class='in' class='on' src = './../../assets/on.png'>
    <h1 class='date' i18n>{{'HOME.JULY_30' | translate}}</h1>
    <h1 class='date'> 2022 </h1>
 </div> -->

</div>