img {
    width: 100vh;
    display: block;
    margin: 0 auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    
}

.parallax {
    /* The image used */
    background-image: url("./../../assets/0N4A7715-Edit.png");
  
    /* Set a specific height */
    /* min-height: 3000px; */
    width: auto;
    height: 100vh;
    max-width: 100%;
    max-height: auto;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

.header {
    display: flex;
    justify-content:center;
}
.header-name {
    font-family: 'black diamond';
    z-index: 2;
    position: absolute;
    top: 15vh;
    color: white;
    width: auto;
    height: auto;
    font-size: 10vw;
}

.left {
    margin-right: 45vw;
    padding-top: 1.2rem;
}
.center {
    font-size: 7vw;
    font-family: 'Gloria Hallelujah', 'Hi Melody';
}

.right {
    margin-left: 45vw;
    padding-top: 1.2rem;
}

@media only screen and (max-width: 450px) {
    .header-name {
        font-size: 25vw;
    }
    .left {
        margin-right: 50vw;
        padding-top: 1.2rem;
    }
    .center {
        font-size: 15vw;
        font-family: 'Gloria Hallelujah', 'Hi Melody';
        margin-left: 4.5vw;
    }
    
    .right {
        margin-left: 60vw;
        padding-top: 1.2rem;
    }
}