<div class="header" id="header" *ngIf="!shouldChangeMenu()">
    <div class="header-name left" [@leftEnter]="isInview('left')">Jon</div>
    <div class="header-name center" [@pound]="pounds" (@pound.done)="pounds = !pounds">♥</div>
    <div class="header-name right" [@rightEnter]="isInview('right')">Ke</div>
</div>
<div class="header" id="header" *ngIf="shouldChangeMenu()">
    <div class="header-name left" [@leftEnterMobile]="isInview('left')">Jon</div>
    <div class="header-name center" [@pound]="pounds" (@pound.done)="pounds = !pounds">♥</div>
     <div class="header-name right" [@rightEnterMobile]="isInview('right')">Ke</div>
</div>
<div class="parallax sticky"></div>
<div class="section"></div>