img {
    width: 100vh;
    display: block;
    margin: 0 auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    
}

.parallax {
    /* The image used */
    background-image: url("./../../assets/0N4A7715-Edit.jpg");
  
    /* Set a specific height */
    /* min-height: 3000px; */
    width: auto;
    height: 100vh;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

.header {
    display: flex;
    justify-content:center;
}
.header-name {
    font-family: 'black diamond', 'Long Cang';
    z-index: 2;
    opacity: 1;
    position: absolute;
    top: 15vh;
    color: white;
    /* line-height: 10vh; */
    /* max-width: 35vw; */
    /* min-height: auto; */
    /* width: auto; */
    /* height: auto */
    /* min-height: auto; */
    width: auto;
    height: auto;
}

.left {
    margin-right: 40vw;
    font-size: 10vw;
}
.center {
    font-size: 5vw;
}

.right {
    margin-left: 40vw;
    font-size: 10vw;
}
.text-info {
    z-index: 1;
}
.name-jon {
    font-family: var(--font-selected);
    font-size: 7vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10vh;
    padding-top: 20vh
}

.name-ke {
    font-family: var(--font-selected);
    font-size: 7vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15vh;
    padding-top: 10vh
}

.and {
    width: 12vh;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.in {
    width: 7vh;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}

.place {
    font-size: 3vw;
    font-family: var(--font-selected);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}

.on {
    width: 7vh;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top:5vh;
}

.date {
    font-size: 3vw;
    font-family: var(--font-selected);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top:2vh;
}

.photo{
    z-index: -1;
    position: absolute;
}