img {
    width: 100vh;
    display: block;
    margin: 0 auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    
}

.parallax {
    /* The image used */
    background-image: url("./../../assets/0N4A7715.jpg");
  
    /* Set a specific height */
    min-height: 750px;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
.header {
    font-family: 'Emilys Candy', 'Long Cang';
    z-index: 2;
    text-align: center;
    height: auto;
    opacity: 1;
    text-align: center;
    position: absolute;
    font-size: 5vw;
    top: 30vh;
    left: 20vw;
    color: var(--color3);
    line-height: 10vh;
}
.text-info {
    z-index: 1;
}
.name-jon {
    font-family: var(--font-selected);
    font-size: 7vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10vh;
    padding-top: 20vh
}

.name-ke {
    font-family: var(--font-selected);
    font-size: 7vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15vh;
    padding-top: 10vh
}

.and {
    width: 12vh;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.in {
    width: 7vh;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}

.place {
    font-size: 3vw;
    font-family: var(--font-selected);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}

.on {
    width: 7vh;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top:5vh;
}

.date {
    font-size: 3vw;
    font-family: var(--font-selected);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top:2vh;
}

.photo{
    z-index: -1;
    position: absolute;
}